<h1 mat-dialog-title>Configure Table {{table?.name}}</h1>
<div>
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="search" name="searchTerm" [(ngModel)]="searchTerm">
    </mat-form-field>
</div>
<form novalidate (ngSubmit)="save()">
    <div mat-dialog-content>
        <div class="result" fxLayout="column" fxLayout.lt-sm="column">
            <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" *ngFor="let column of table?.columns | filter:searchTerm; let i = index" fxLayoutGap="16px">
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Column Name</mat-label>
                    <input matInput [(ngModel)]="column.name" [name]="column.name" disabled>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Alias </mat-label>
                    <input matInput  [(ngModel)]="column.alias" name="{column.name}+'alias'">
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="result" fxLayout="column" fxLayout.lt-sm="column" *ngIf="tableList.length > 1">
            <div class="mat-h2" [ngStyle]="{margin: '10px 0'}">Table Relation</div>
            <app-table-relation [entityRelationship]="entityRelationship" [tableList]="tableList" [tableRelation]="tableRelation" (add)="addEr()" (remove)="removeEr($event)"></app-table-relation>
            <!-- <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" *ngFor="let er of entityRelationship; let i = index; last as isLast" fxLayoutGap="16px">
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Primary Table</mat-label>
                    <mat-select name="primaryTable" [(ngModel)]="er.primaryTable" disabled>
                        <mat-option *ngFor="let table of tableList" [value]="table.name">
                            {{table.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>column Name</mat-label>
                    <mat-select name="primaryKey" [(ngModel)]="er.primaryKey">
                        <mat-option *ngFor="let column of columns(er.primaryTable).columns" [value]="column.name">
                            {{column.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Relational Table</mat-label>
                    <mat-select name="relationalTable" [(ngModel)]="er.relationalTable">
                        <mat-option *ngFor="let table of tableRelation" [value]="table.name">
                            {{table.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>column Name</mat-label>
                    <mat-select name="foreginKey" [(ngModel)]="er.foreginKey">
                        <mat-option *ngFor="let column of columns(er.relationalTable)?.columns" [value]="column.name">
                            {{column.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex *ngIf="isLast">
                    <button  mat-raised-button (click)="addEr()" type="button">Add</button>
                </div>
                <div fxFlex *ngIf="!isLast">
                    <button  mat-raised-button (click)="removeEr(i)" type="button">Remove</button>
                </div>
            </div> -->

        </div>
        
        <!-- <button type="button" mat-raised-button (click)="addEr()" class="relationBtn">Add Entity Relationship</button> -->
        
        <!-- <pre>{{actionItemsForm.value | json }}</pre> -->
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions>
        <div fxFlex></div>
        <button type="submit" mat-raised-button color="primary" [disabled]="submitted">Save</button>
        <button type="button" mat-raised-button (click)="onNoClick()">Cancel</button>
    </div>

</form>