<div fxLayout.gt-sm="row" fxLayout.lt-sm="column" *ngFor="let er of entityRelationship; let i = index; first as isFirst; last as isLast" fxLayoutGap="16px">
  <mat-form-field appearance="standard" fxFlex>
      <mat-label>Primary Table</mat-label>
      <mat-select name="primaryTable" [(ngModel)]="er.primaryTable" disabled>
          <mat-option *ngFor="let table of tableList" [value]="table.name">
              {{table.name}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard" fxFlex>
      <mat-label>column Name</mat-label>
      <mat-select name="primaryKey" [(ngModel)]="er.primaryKey">
          <mat-option *ngFor="let column of columns(er.primaryTable).columns" [value]="column.name">
              {{column.name}}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard" fxFlex>
      <mat-label>Relational Table</mat-label>
      <mat-select name="relationalTable" [(ngModel)]="er.relationalTable">
          <mat-option *ngFor="let table of tableRelation" [value]="table.name" [disabled]="disableOption(table.name)">
              {{table.name}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard" fxFlex>
      <mat-label>column Name</mat-label>
      <mat-select name="foreginKey" [(ngModel)]="er.foreginKey">
          <mat-option *ngFor="let column of columns(er.relationalTable)?.columns" [value]="column.name">
              {{column.name}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxFlex [ngStyle]="{alignItems: 'center'}">
    <div  *ngIf="entityRelationship.length > 1" fxFlex>
        <button  mat-raised-button (click)="remove.emit(i)" type="button">Remove</button>
    </div>
    <div  *ngIf="isLast" fxFlex>
      <button  mat-raised-button (click)="add.emit()" type="button" [disabled]="entityRelationship.length >= tableRelation.length || isValidAdd(er)">Add</button>
    </div>
    
  </div>
  </div>
