.red {
    background: red;
  }
  
  .mapped {
    background: yellow;
  }
  
  .mapped-and-selected {
    background:purple;
  }
  
  ul {
    display: inline-block;
    width: 50px;
    margin-right: 100px;
  }
  