<div fxLayout="column">
    <mat-form-field appearance="standard" fxFlex>
        <mat-label>Relational Table</mat-label>
        <mat-select name="relationalTable" [(ngModel)]="er.relationalTable" (selectionChange)="onTableSelect($event.value)">
            <mat-option *ngFor="let table of tableList" [value]="table.name">
                {{table.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlex *ngIf="columns">
        <mat-label>Relational Key</mat-label>
        <mat-select name="elationalTable" [(ngModel)]="er.foreginKey">
            <mat-option *ngFor="let column of columns" [value]="column.name">
                {{column.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>