.header-label {	    
    height: 22px;
    // width: 273px;
    color: #6a6fd2;
    font-size: 22px;
    font-weight: 500;
    // line-height: 40px;
    // font-family: Montserrat, sans-serif;
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px;
}

h3 {
    margin-bottom: 10px !important;
}

.mat-error-custom {
    font-size: 12px; 
    margin-left: 0px;
}

.row-label{
    margin-bottom: 0px;
    font: 400 16/32px Roboto, "Helvetica Neue", sans-serif !important;
    font: 400 14px/16px Roboto, "Helvetica Neue", sans-serif !important;
}