.rectangle {
    margin-bottom: 100px;
    /* min-height: 150px;
    max-height: 150px; */
    
}

.view {
    margin: 0 !important;
    background: #f5f5f5;
}

.preview {
    padding: 24px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.lis-content {
    background: #f5f5f5;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.preview-card {
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.settings {
    position: absolute;
}

.settings-icon {
    outline: none;
    cursor: pointer;
    /* width: 20px !important; */
}

.section-box {
    margin-bottom: 10px;
}

.section-header {
    padding: 5px;
    border-top: 3px solid #455a64;
    background: #fff;
    font-size: 24px !important;
}

.row-box {
    border-bottom: 1px solid #dcdcdc;
    padding: 5px;
    margin-bottom: 5px;
    background: #29313508;
}

.line-sheparator {
    padding: 0px 10px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    align-items: center;
    height: 1px;
    border-top: 1px solid #dcdc;
    margin: 5px;
}

.restore {
    position: absolute;
    right: 0;
    top: -5px;
}

.drop-zone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.custom-text-field {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 0 0;
    padding: 10px 5px;
    border: 1px dashed #dcdcdc; // font-size: 24px;
    font-weight: 500; // text-transform: capitalize;
}

.example-box {
    width: 100px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-container {
    /* width: 400px; */
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;   
    display: block;
  }

  .table-item {
    padding: 10px !important;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    height: auto !important;
  }

  .table-list {
    border: solid 1px #ccc;
    min-height: 45px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    padding: 0;
 }

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .table-item:last-child {
    border: none;
  }
  
  .table-list.cdk-drop-list-dragging .table-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-boundary {
    min-width: 100%;
    // min-height: 2000px;
    border: dotted #ccc 2px;
    position: relative;
    // background: #ccc;
    display: block;
    margin: auto;
    // overflow: auto;
  }

  .item {
    position: absolute;
  }
  


  .dragHandle {
    position: absolute;
    color: coral;
    z-index: 999;
  }
  
  .dragHandle.corner {
    width: 15px;
    height: 15px;
    cursor: nwse-resize;
  }