<div cdkDropListGroup fxLayout="row">
    <div class="example-container" fxFlex="120px">
        <h2>Tables</h2>
        <mat-list cdkDropList [cdkDropListData]="tableList" (cdkDropListDropped)="drop($event)" class="table-list">
            <mat-list-item *ngFor="let item of tableList" cdkDrag class="table-item"> {{item.name}} </mat-list-item>
        </mat-list>
    </div>

    <div class="example-container" fxFlex>
        <h2>Build Template</h2>
        <div class="example-boundary newboundary" #resizeBox [style.height.px]="height" [style.width.px]="width">
            <!-- <span #dragHandleCorner cdkDragLockAxis="y" class="dragHandle corner" cdkDrag (cdkDragMoved)="dragMove(dragHandleCorner, $event)"></span> -->
            <span class="material-icons dragHandle corner" #dragHandleCorner cdkDragLockAxis="y" cdkDrag (cdkDragMoved)="dragMove(dragHandleCorner, $event)">
                aspect_ratio
                </span>
        <div cdkDropList fxLayout="column" fxLayoutAlign="start start" cdkDropList [cdkDropListData]="data.tables" (cdkDropListDropped)="drop($event)" [style.height.px]="height" [style.width.px]="width" (cdkDropListEntered)="dragenter($event)">
        
            <div *ngFor="let field of data.tables; let i = index">
                <entity-field [field]="field" (edit)="edit($event)" [field]="field" fxFlex (rerenderTable)="rerenderTable($event)"></entity-field>
            </div>
            </div>
        </div>
    </div>
</div>